body {
	background-color:#000;
	color:#FFF;
}

.caption {
	display:none;
	font-family:'Cardo',serif;
	font-size:14pt;
	background-color:#FFF;
	color:#000;
	padding:none;
	margin:0px 0px 15px 0px;
	border:25px solid white;
}

.caption a {
	color:#000;
}

.caption .accounts {
	height:32px;
	margin:15px 0px 0px 0px;
}

.caption .social {
	float:left;
	height:32px;
	font-size:11pt;
	line-height:32px;
	padding:0px 25px 0px 0px;
}

.caption .social a {
	color:#000;
	text-decoration:none;
}

.caption .social img {
	width:32px;
	padding:0px 5px 0px 0px;
	margin:none;
	float:left;
	border:none;
}

.caption strong {
	font-size:20pt;
}

.caption:target {
	display:block;
}

#container {
	width:900px;
	margin:auto;
	padding:none;
}

#header {
	text-align:center;
	font-family:'Cardo',serif;
	margin:25px 0px 50px 0px;
	font-size:18pt;
	line-height:40pt;
	width:100%;
}

#header strong {
	color:#C00;
}

.hide {
	text-align:center;
}

.hide a {
	color:#000;
}

h1 {
	font-family:'Gloria Hallelujah',cursive;
	font-size:60pt;
}

h1 a {
	color:#FFF;
	text-decoration:none;
}

.image {
	border:10px solid white;
}

.item {
	margin:0px 0px 50px 0px;
	width:100%;
}

.item img {
	width:100%;
}

@media screen and (min-width:569px) and (max-width:900px) {
/* WIDE COMPUTER */
.caption .accounts {
	height:100%;
	max-height:79px;
	overflow:hidden;
}

.caption .social {
	padding:0px 25px 10px 0px;
}

div#container {
	width:99%; !important
}

#header {
	line-height:24pt;
}

h1 {
	line-height:65pt;
}

.item {
	margin-bottom:40px;
}
}

@media screen and (min-width:0px) and (max-width:568px) {
/* SKINNY COMPUTER */
.caption .accounts {
	height:100%;
	max-height:116px;
	overflow:hidden;
}

.caption .social {
	padding:0px 25px 10px 0px;
}

div#container {
	width:99%; !important
}

#header {
	line-height:24pt;
}

h1 {
	line-height:65pt;
}

.item {
	margin-bottom:15px;
}
}

@media screen and (min-device-width:768px) and (max-device-width:1024px) {
/* iPAD */
.caption {
	font-size:18pt;
}

.caption .accounts {
	height:100%;
	max-height:79px;
	overflow:hidden;
}

.caption .social {
	padding:0px 25px 10px 0px;
}

div#container {
	width:99%; !important
}

#header {
	line-height:24pt;
}

h1 {
	line-height:80pt;
	font-size:72pt;
}

.item {
	margin-bottom:40px;
}
}
