a {
	color:#FFF;
}

a:hover {
	color:#941F1F;
}

#ad {
	width:0px;
	overflow:hidden;
	}

body {
	margin:10px 0px 0px 0px;
}

.caption-padding {
	color:#FFF;
  	padding:20px;
  	font-size:16pt;
  	text-align:center;
	line-height:30px;
}

#container {
	font-family:'Average',serif;
	width:auto;
	margin:auto;
}

.grid {
	padding:none;
	width:80%;
	float:right;
}

h1 {
	font-family:'Oleo Script Swash Caps',sans-serif;
	font-size:50pt;
}

h2 {
	font-size:28pt;
}
	
.image-overlay-content {
  width:100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0; 
}

.js-masonry {
	columnWidth:100%;
	isFitWidth:true;
	itemSelector:'.post';
	percentPosition:true;
	isInitLayout:false;
}
	
@media screen and (min-width: 0px) and (max-width:600px) {
/* SKINNY COMPUTER */
	a {
		color:#000;
	}
	
	.caption-padding {
		color:#000;
		border:none;
		padding:0px 10px 10px 10px;
		width:100%;
		float:right;
		font-size:14pt;
	}
	
	div.grid {
		width:100%;
	}
	
	div.post {
		width:100%;
		margin:0px 0px 20px 0px;
	}
	
	div#sidebar {
		width:100%;
		position:static;
		margin:10px;
	}
	
	.image-overlay-content {
		position:static;
	}
	
	.overlay-fade-in .image-overlay-content {
  		opacity: 1 !important;
  		background-color: rgba(255, 255, 255, 1.0) !important;
  		transition: none 0.4s ease-in-out; 
	}
	
	.overlay-fade-in:hover img {
  		transform:none !important; 
	}
	
	div#instructions {
		display:none;
	}
}

@media screen and (min-width: 600px) and (max-width:1000px) {
/* MEDIUM COMPUTER */
	
	.caption-padding {
		color:#FFF;
		font-size:16pt;
		line-height:20pt;
	}
	
	div.grid {
		width:100%;
	}
	
	div.post {
		width:50%;
		margin:none;
	}
	
	div#sidebar {
		width:100%;
		position:static;
		margin:10px;
	}
	
	h2 {
		font-size:24pt;
		line-height:24pt;
	}
}

@media screen and (min-device-width: 0px) and (max-device-width:600px) {
/* SKINNY DEVICE */
	
	.caption-padding {
		color:#000;
		padding:30px 20px 0px 20px;
		font-size:40pt;
		line-height:45pt;
	}
	
	.caption-padding a {
		color:#000;
	}
	
	div#container {
		padding-top:70px;
	}
	
	div.grid {
		width:100%;
	}
	
	div.post {
		width:100%;
		margin:0px 0px 20px 0px;
	}
	
	div#sidebar {
		width:100%;
		position:static;
		margin:10px;
		font-size:40pt;
	}
	
	h1 {
		font-size:65pt;
	}
	
	h2 {
		font-size:50pt;
	}
	
	.image-overlay-content {
		position:static;
	}
	
	.overlay-fade-in .image-overlay-content {
  		opacity: 1 !important;
  		background-color: rgba(255, 255, 255, 1.0) !important;
  		transition: none 0.4s ease-in-out; 
	}
	
	.overlay-fade-in:hover img {
  		transform:none !important; 
	}
	
	div#instructions {
		display:none;
	}
}

@media screen and (min-device-width: 600px) and (max-device-width:1024px) {
/* WIDE DEVICE */
	
	.caption-padding {
		color:#000;
		font-size:14pt;
	}
	
	.caption-padding a {
		color:#000;
	}
	
	div.post {
		width:50%;
		margin:0px 0px 15px 0px;
	}
	
	div#sidebar {
		width:100%;
		position:static;
		margin:10px;
	}
	
	.image-overlay-content {
		position:static;
	}
	
	.overlay-fade-in .image-overlay-content {
  		opacity: 1 !important;
  		background-color: rgba(255, 255, 255, 1.0) !important;
  		transition: none 0.4s ease-in-out; 
	}
	
	.overlay-fade-in:hover img {
  		transform:none !important; 
	}
	
	div#instructions {
		display:none;
	}
}

.overlay-fade-in img {
  transition: all 0.3s linear; 
}

.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out; 
}

.overlay-fade-in:hover img {
  transform: scale(1.04); 
}

.overlay-fade-in:hover .image-overlay-content {
  opacity: 1; 
}

.post {
	float:left;
	overflow:auto;
	position:absolute;
	width:50%;
}

.post img {
	padding:none;
	width:100%;
}

#sidebar {
	width:20%;
	float:left;
	position:fixed;
	text-align:center;
	overflow:auto;
	margin:0px 30px 0px 0px;
}

#sidebar div {
	padding:0px 30px 30px 30px;
	font-family:'Average',serif;
	font-size:14pt;
}

.wrap {
	overflow:hidden;
}
